<div class="jumbotron">
  <div class="container">
    {% if site.title %}
      <h1>{{ site.title }}</h1>
    {% else %}
      Hi. I'm {{ site.author }}.
    {% endif %}
    <h3 class="tagline">
      {% if site.subtitle %}
        {{ site.subtitle }}
      {% else %}
         Here are some thoughts of mine.
      {% endif %}
    </h3>
    <div class="contact">
      <a href="http://stackoverflow.com/users/544439/josep" class="stack-overflow"><img src="/images/meta.png"></a>
      <a href="http://github.com/josepot"><i class="entypo-social c-github"></i></a>
      <a href="http://ca.linkedin.com/pub/josep-m-sobrepere-profitos/52/781/a15"><i class="entypo-social c-linkedin"></i></a>
  </div>
  </div>
</div>
