{% unless page.no_header %}
{% if index %}
  <header class="post-header">
    <h2 class="post-title"><a href="{{ root_url }}{{ post.url }}">{{ post.title }}</a></h2>
    <div class="post-meta"><i class="icon-calendar-empty"></i> <time datetime="{{ post.date }}">{{ post.date | date: "%b %-d, %Y" }}</time>
      {% if post.categories %}
      &nbsp;on
      {% for category in post.categories %}
      <a href="{{ root_url }}/{{ site.category_dir }}/{{ category | replace:' ','-' | replace:'.','-dot-' | downcase }}/">{{ category }}</a>
      &nbsp;
      {% endfor %}
      {% endif %}
    </div>
  </header>
  <section class="post-excerpt">
    {{ content | excerpt }}
    {% capture excerpted %}{{ content | has_excerpt }}{% endcapture %}
    {% if excerpted == 'true' %} <a href="{{ root_url }}{{ post.url }}">{{ site.excerpt_link }}</a> {% endif %}
  </section>
{% else %}
  <header>
    <h1>{% if site.titlecase %}{{ page.title | titlecase }}{% else %}{{ page.title }}{% endif %}</h1>
	  <div class="post-meta"><i class="icon-calendar-empty"></i> <time datetime="{{ page.date }}">{{ page.date | date: "%b %-d, %Y" }}</time>
      {% if page.categories %}
      &nbsp;on
      {% for category in page.categories %}
      <a href="{{ root_url }}/{{ site.category_dir }}/{{ category | replace:' ','-' | replace:'.','-dot-' | downcase }}/">{{ category }}</a>
      &nbsp;
      {% endfor %}
      {% endif %}
    </div>
  </header>
  <div class="row-fluid">
    <div class="span12">
      {{ content }}
    </div>
  </div>
{% endif %}
{% endunless %}
