{% unless page.no_header %}
{% if index %}
  <header class="post-header">
    <a href="{{ root_url }}{{ post.url }}"><h2 class="post-title">{{ post.title }}</h2></a>
    <span class="post-meta"><i class="icon-calendar-empty"></i> <time datetime="{{ post.date }}">{{ post.date | date: "%b %-d, %Y" }}</time>
      {% if post.categories %}
      &nbsp;on
      {% for category in post.categories %}
      <a href="{{ root_url }}/{{ site.category_dir }}/{{ category | replace:' ','-' | replace:'.','-dot-' | downcase }}/">{{ category }}</a>
      &nbsp;
      {% endfor %}
      {% endif %}
    </span>
  </header>
  <section class="post-excerpt">
    {{ content | excerpt }}
    {% capture excerpted %}{{ content | has_excerpt }}{% endcapture %}
    {% if excerpted == 'true' %} <a href="{{ root_url }}{{ post.url }}">{{ site.excerpt_link }}</a> {% endif %}
  </section>
{% else %}
  <header>
  <div class="jumbotron">
    {% if site.titlecase %}{{ page.title | titlecase }}{% else %}{{ page.title }}{% endif %}
	<h5>{% include post/date.html %}<i class="icon-calendar-empty"></i> {{ time }}</h5>
  </div>
</header>
  <div class="row-fluid">
    <div class="span12">
      {{ content }}
    </div>
  </div>
{% endif %}
{% endunless %}
