// Customize the colors of Octoflat Here


$primary-color:      #4D5152; // Jumbotron, Horizontal Rules, Headings
$secondary-color:    #e69411; // Tags, Links, Main Heading, Quote Border
$tertiary-color:     #2a6496; // Hover-over color, Active Page color
$accent-color1:      #A4B9D1; // Hover-over background color for tags
$accent-color2:      #34495E; // Sub-headings, Date Stamp
$accent-color3:      #ffffff; // Navbar Text, Tag text
$bg-color:           #ffffff; // Background
$navbar-color:       #1ec2de; // Navbar
$code-bg-color:      #1D1F21; // Code background
$quote-color:        #E74C3C; // Quote Color
$text-color:         #4D5152; // Body Text
$footer-color:       #7F8C8D; // Footer
