// Add your custom styling here.

 .post-meta { display: block; margin: -10px 0 15px 0; }
    article.hentry .post-meta{margin: 0 0 15px 0 ; padding-top:5px;}

 article.hentry header{ margin:35px 0 25px 0;}
 .footer-page { text-align:center; }

.jumbotron .contact { position:relative; z-index:99999999;}
